<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="http://www.obigo.com/ces2020/OBIGO/C300/weather"
        version="1.0.13"
        width="1280"
        height="650"
        viewmodes="fullscreen">
    <name xml:lang="en-us" short="FORECA">FORECA</name>
    <description xml:lang="en-us">Foreca provides weather conditions such as 5 day weather forecasts for world-wide locations. You can see weather condition in your current location using GPS or you can choose from thousands of cities around the globe.</description>
    <icon src="icon.png" />
    <content src="index.html" type="text/html" />
    <thumbnail src="thumbnail.png" type="image/png" />
    <author>Obigo</author>
    <license>
        THE SOFTWARE IS PROVIDED BY OBIGO.
    </license>
    <access origin="*" />
    <feature name="http://www.obigo.com/api/applicationmanager.getownerapplication" required="true">
      <param name="version" value="3.1.5.6" />
    </feature>
    <feature name="http://www.obigo.com/api/storage" required="true"></feature>
    <feature name="http://www.obigo.com/api/geolocation" required="true"></feature>
    <feature name="http://www.obigo.com/api/network" required="true">
      <param name="version" value="1.1.0.0"/>
    </feature>
    <meta-data>
        <manifest-version>1.3.2.1</manifest-version>
        <speech>
            <name>weather</name>
            <phoneme-data phoneme="wéðər" langcode="en-us" />
            <phoneme-data phoneme="jour-là" langcode="fr" />
        </speech>
    </meta-data>
</widget>
